<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.equinox.mariohernandez.portalviaje" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
     <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  -->
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->

    <!-- GCM  -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.equinox.mariohernandez.portalviaje.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.equinox.mariohernandez.portalviaje.permission.C2D_MESSAGE" />

    <!--   -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="Portal Viaje" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Conductor_pasajero_Activity"
            android:label="Portal Viaje"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.equinox.mariohernandez.portalviaje.LoginActivity" />
        </activity>
        <activity
            android:name=".InicialActivity"
            android:label="Configuración Inicial"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.equinox.mariohernandez.portalviaje.LoginActivity" />
        </activity>
        <activity
            android:name=".ConfiguracionActivity"
            android:label="Configuración"
            android:parentActivityName=".Conductor_pasajero_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.equinox.mariohernandez.portalviaje.Conductor_pasajero_Activity" />
        </activity>
        <activity
            android:name=".CalificacionesActivity"
            android:label="Calificaciones"
            android:parentActivityName=".Conductor_pasajero_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.equinox.mariohernandez.portalviaje.Conductor_pasajero_Activity" />
        </activity>
        <activity
            android:name=".PasajeroActivity"
            android:label="Pasajero"
            android:parentActivityName=".Conductor_pasajero_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.equinox.mariohernandez.portalviaje.Conductor_pasajero_Activity" />
        </activity>
        <activity
            android:name=".CrearUbicacionActivity"
            android:label="Crear Ubicación"
            android:parentActivityName=".PasajeroActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.equinox.mariohernandez.portalviaje.PasajeroActivity" />
        </activity>
        <activity
            android:name=".BuscarViaje2Activity"
            android:label="Buscar Viaje"
            android:parentActivityName=".PasajeroActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.equinox.mariohernandez.portalviaje.PasajeroActivity" />
        </activity>
        <activity
            android:name=".BuscarViaje3Activity"
            android:label="Buscar Viaje"
            android:parentActivityName=".PasajeroActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.equinox.mariohernandez.portalviaje.PasajeroActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".CrearUbicacionMapActivity"
            android:label="@string/title_activity_crear_ubicacion_map" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.equinox.mariohernandez.portalviaje.PasajeroActivity" />
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".Conductor_pasajero_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.equinox.mariohernandez.portalviaje.Conductor_pasajero_Activity" />
        </activity>



        <receiver android:name=".GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.equinox.mariohernandez.portalviaje" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmMessageHandler"/>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>


        <provider
            android:authorities="com.equinox.mariohernandez.portalviaje"
            android:name=".Provider">

        </provider>


    </application>

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens= "true"
        android:anyDensity="true"
        />


</manifest>
